<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu">
  </div>

  {{#if page.component.asciidoc.attributes.oshw}}
  <a class="card" href="https://certification.oshwa.org/{{lower page.component.asciidoc.attributes.oshw}}.html">
    <header>
      <h4>{{page.component.title}}</h4>
    </header>
    <hr>
    <img src="{{relativize (concat page.url " /../_images/oshw.svg")}}" alt="">
  </a>
  {{/if}}
</aside>
